<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <!--FONT AWASOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <title>DESKAJOBS</title>
</head>
<body>

 <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <h3>DESKA JOBS</h1>
        </a>
        <a class="navbar-brand" href="/add">
          <button class="btn btn-danger">Agregar nueva busqueda</button>
        </a>
      </div>
</nav>

    <div class="container p-4">
      <div class="row">
        <div class="col-md-12">
          {{{ body }}}
        </div>
      </div>

    </div>
    
</body>
</html>